.slide-container {
  width: 100vw;
  height: inherit;
}
.slide-box {
  position: absolute;
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
}
.slide-navigation-left {
  position: absolute;
  height: inherit;
  width: 50px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-navigation-right {
  position: absolute;
  height: inherit;
  width: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon {
  padding: 1vw;
  cursor: pointer;
  color: #aaaaaa;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fade-appear {
  opacity: 0.0;
}
.fade-appear-active {
  opacity: 1.0;
  transition: all 500ms;
}
.fade-enter {
  opacity: 0.0;
}
.fade-enter-active {
  opacity: 1.0;
  transition: all 500ms;
}
.fade-exit {
  opacity: 1.0;
}
.fade-exit-active {
  opacity: 0.0;
  transition: all 500ms;
}
.fade-exit-done {
  display: none !important;
}
