html {
  overflow-y: hidden !important;
}

.slide-container {
  width: 100vw;
  height: calc(100vh - 3.25rem);
}
.slide-box {
  position: absolute;
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
}
.slide-navigation-left {
  position: absolute;
  height: inherit;
  width: 5vw;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-navigation-right {
  position: absolute;
  height: inherit;
  width: 5vw;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon {
  padding: 1vw;
  cursor: pointer;
  color: #aaaaaa;
}
