.slide-container {
  width: 100vw;
  height: inherit;
}
.slide-box {
  position: absolute;
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
}
.slide-navigation-left {
  position: absolute;
  height: inherit;
  width: 50px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-navigation-right {
  position: absolute;
  height: inherit;
  width: 50px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-icon {
  width: 25px;
  height: 25px;
  margin: 1vw;
  cursor: pointer;
  color: rgba(204,204,204,0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fade {
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}
.fade-entering {
  opacity: 1.0;
}
.fade-entered {
  opacity: 1.0;
}
.fade-exiting {
  opacity: 0.0;
}
.fade-exited {
  opacity: 0.0;
}
