div.panel {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}
div.panel img {
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: calc((100vh - 3.25rem) * 0.98);
  padding: 5px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  div.panel img {
    max-width: 100%;
  }
}
