.folder-tree-root {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
}
@media screen and (min-width: 1024px) {
  .folder-tree-root {
    overflow-x: hidden;
    overflow-y: scroll;
  }
} 

.folder-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.folder-item {
  width: 19.7vw;
  height: 19.7vw;
  margin: 0.1vw 0;
}

@media screen and (max-width: 768px) {
  .folder-item {
    width: 49.8vw;
    height: 49.8vw;
    margin: 0.15vw 0;
  }
}
@media screen and (max-width: 1023px) and (min-width: 769px) {
  .folder-item {
    width: 24.8vw;
    height: 24.8vw;
    margin: 0.14vw 0;
  }
}
@media screen and (max-width: 1920px) and (min-width: 1024px) {
  .folder-item {
    width: 24.6vw;
    height: 24.6vw;
    margin: 0.12vw 0;
  }
}
