.App .navbar {
  background-color: rgba(10, 10, 10, 0.5);
}
.navbar-brand .navbar-item .main-brand {
  font-size: 1.5em;
  color: #cccccc;
}

.navbar-brand .navbar-item.sub-brand {
  font-size: 1em;
  padding-left: 0px;
  color: #cccccc;
}

.navbar-brand .navbar-burger.burger {
  color: #cccccc;
}

.navbar-menu a.navbar-item {
  font-size: 1.2em;
  margin: 0 10px 0;
  text-decoration: none;
  color: inherit;
}
.navbar-menu a.navbar-item:hover {
  text-decoration: none;
}
.navbar-menu a.navbar-item:visited {
  text-decoration: none;
  color: inherit;
}
.navbar-menu a.navbar-item:active {
  text-decoration: none;
  color: inherit;
}

/*.navbar-menu .navbar-end {*/
  /*margin-right: 50px;*/
/*}*/

@media screen and (max-width: 1087px) {
  .navbar-menu.is-active {
    background-color: rgba(10, 10, 10, 0.5);
    position: absolute;
    width: 100vw;
    bottom: 3.25rem;
    right: 0px;
    text-align: right;
  }
  .navbar-menu.is-active .navbar-end {
    margin-right: 0px;
  }
  .navbar-menu.is-active a.navbar-item:hover {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
  .navbar-menu.is-active a.navbar-item:visited {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
  .navbar-menu.is-active a.navbar-item:active {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
}
