.Loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  background-color: rgba(10, 10, 10, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-appear {
  opacity: 0.0;
}
.loading-appear-active {
  opacity: 1.0;
  transition: all 200ms;
}
.loading-enter {
  opacity: 0.0;
}
.loading-enter-active {
  opacity: 1.0;
  transition: all 200ms;
}
.loading-exit {
  opacity: 1.0;
}
.loading-exit-active {
  opacity: 0.0;
  transition: all 200ms;
}
.loading-exit-done {
  display: none !important;
}
