@import '../node_modules/bulma/css/bulma.css';

body {
  -ms-overflow-style:none;
  overflow: -moz-scrollbars-none;
  background-image: url("./assets/images/background.jpg");
}
body::-webkit-scrollbar{
  display:none;
}
